# Application
data/
*.log*
# Database
*.db
*.sqlite*
# Variables
*.env*
!*.template
# Python
*venv*
*_output.ipynb
.pytest_cache
environments/
kernel_specs/
__pycache__
.coverage
sdx.ipynb
# Tableau
unzipped/
*.xls
*.twb*
*.twbx*
*.twbr*
*.hyper*
*.jpg*
*.png*
*.bin*
*.key*
# Folders
*download/
# Docs
_build/
# Workbook sample
!tests/resources/sample.twb
